<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Info</title>

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div class="container text-center" th:object="${reportDTO}">

  <div th:replace="components :: header"></div>

  <div class="card text-center" >
    <img th:if="${reportDTO.image == null}" th:src="@{/images/patient.png}" class="card-img-top rounded mx-auto" th:alt="${reportDTO.patientFirstName}" style="width: 225px">
    <img th:if="${reportDTO.image != null}" th:src="@{${reportDTO.getReportImagePath()}}" class="card-img-top rounded mx-auto" th:alt="${reportDTO.patientFirstName}" style="width: 225px">
    <div class="card-header">
      File Number: [[${reportDTO.fileNumber}]]
    </div>
    <div class="card-body">
      <h4 class="card-title">Full Name: [[${reportDTO.patientFirstName + ' ' + reportDTO.patientLastName}]]</h4>
      <h6>Identity Number: [[${reportDTO.patientIdentityNumber}]]</h6>
      <h5>Title: [[${reportDTO.diagnosisTitle}]]</h5>
      <p class="card-text">[[${reportDTO.diagnosisDetail}]]</p>
      <hr class="my-4">
      <div th:if="${reportDTO.labWorker != null}">
        <h4>Lab Worker</h4>
        <h6>Lab Worker Full Name: [[${reportDTO.labWorker.firstName + ' ' + reportDTO.labWorker.lastName}]]</h6>
        <a th:href="@{/labWorkers/get/{id}(id = ${reportDTO.labWorker.id})}" class="btn btn-info">Detail</a>
      </div>
      <hr class="my-4">
      <a th:href="@{/reports/update/{id}(id = ${reportDTO.id})}" class="btn btn-primary">Edit</a>
      <a th:href="@{/reports}" class="btn btn-warning">All Reports</a>
    </div>
    <div class="card-footer text-muted">
      Date of Issue: [[${reportDTO.dateOfIssue}]]
    </div>
  </div>


</div>
</body>
</html>