<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div class="container text-center" th:object="${labWorkerDTO}">

    <div th:replace="components :: header"></div>

    <h2>Lab Worker ID: [[${labWorkerDTO.id}]]</h2>
    <h3>Lab Worker First Name: [[${labWorkerDTO.firstName}]]</h3>
    <h3>Lab Worker Last Name: [[${labWorkerDTO.lastName}]]</h3>
    <h4>Lab Worker Hospital ID: [[${labWorkerDTO.hospitalIdentityNumber}]]</h4>


    <h1 th:if="${labWorkerDTO.reports.isEmpty()}"> Report Not Found </h1>

    <div class="row">
        <div class="card-group col-sm-4" th:each="report: ${labWorkerDTO.reports}">
            <div class="card mt-3" style="width: 18rem;">

                <img th:src="@{/images/patient.png}" class="card-img-top rounded mx-auto"
                     th:alt="${report.patientFirstName}"
                     style="width: 225px" height="225">
                <div class="card-header">
                    File Number: [[${report.fileNumber}]]
                </div>
                <div class="card-body">
                    <h4 class="card-title">Full Name: [[${report.patientFirstName + ' ' + report.patientLastName}]]</h4>
                    <h6>Identity Number: [[${report.patientIdentityNumber}]]</h6>
                    <h5>Title: [[${report.diagnosisTitle}]]</h5>
                    <p class="card-text">[[${report.diagnosisDetail}]]</p>
                    <hr class="my-4">
                    <a th:href="@{/reports/get/{id}(id = ${report.id})}" class="btn btn-info">Detail</a>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>