<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Lab Worker</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div class="container text-center">

    <div th:replace="components :: header"></div>

    <div class="row">

        <div class="col-3"></div>
        <div class="col-6">

            <div class="card" >
                <div class="card-header">
                    <h1>Update Lab Worker</h1>
                </div>
                <div class="card-body">

                    <form class="needs-validation" novalidate th:action="@{/labWorkers/{id} (id=${reportLabWorkerDTO.id})}" th:object="${reportLabWorkerDTO}" method="post">
                        <div class="col-12">
                            <label for="firstName" class="form-label">First name </label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="hospitalIdentityNumber" class="form-label" >Hospital ID</label>
                            <input type="text" class="form-control" id="hospitalIdentityNumber" placeholder="Hospital ID" th:field="*{hospitalIdentityNumber}">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <button class="btn btn-success" type="submit">Submit form</button>
                        </div>
                        <br>
                    </form>

                    <div class="card-footer">
                        <h2>Update</h2>
                    </div>


                </div>
            </div>


        </div>
        <div class="col-3"></div>
    </div>










</div>
</body>
</html>